:root{
    --gray-1: #111b21;
    --gray-2: #202c33;
    --gray-3: #213138;
    --gray-4: #2a3942;
    --gray-5: #364147;
    --gray-6: #5f696e;
    --gray-7: #85949e; 
    --gray-8: #8fb3ad;
    --gray-9: #aebbc2;
    --green-1: #00a884;
    --green-2: #005c4b;
    --green-3: #025244;
    --green-4: #00332c;
    --green-5: #172229;
    --white-1: #e9edf0;
}